.DS_Store
__MACOSX/

node_modules/
dist/

.env
.venv/
venv/
env/

# Web Push VAPID private/public key files
*.pem

__pycache__/
*.py[cod]
.pytest_cache/
coverage/

instance/
*.db


status
1. 모집중
2. 인원마감 >> 인원이 나가면? 다시 모집으로
3. 삭제대기
4. 시간마감 >> 시간이 지난경우